<div class="container">

	<div class="starter-template">
		<h1>Goals</h1>
		<ol class="text-left">
			<li>Ensure the Heading Tabs (Home, Bug Filled and Feature) are working and refactored to your satisfaction.
			</li>
			<li>Fix the Bug Filled Page.</li>
			<li>Build the new Feature Page following these instructions.</li>

			<ol>
				<li>Using the xmlData.xml file in Interview/config, display all the units on a map</li>
				<li>Use any mapping framework you would like (e.g. leaflet).</li>
				<li>Each Unit should display its ID and Color.</li>
				<li>Allow the user to select a Range value.</li>
				<li>Highlight untis that are within that range of any other unit.</li>
				<li>Other Pages may wish to use your display code for the Unit.</li>
				<li>Ensure that the feature page is responsive.</li>
			</ol>
		</ol>
	</div>
</div>